.collapse-content-wrapper{
    max-height: 0;
    transition: max-height 0.35s ease-out;
    overflow: hidden;
}

.collapse-content-wrapper.opened{
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

